In [4]:
import pandas as pd

# 시리즈
데이터가 순차적으로 나열된 1차원 배열의 형태

In [5]:
dic_data = {'a':1, 'b':2, 'c':3} # 딕셔너리를 이용한 시리즈 생성
sr = pd.Series(dic_data)
print(type(sr))
print('\n')
print(sr)

<class 'pandas.core.series.Series'>


a    1
b    2
c    3
dtype: int64

In [10]:
list_data = ['2019-01-02', 3.14, 'ABC', 100, True] # 리스트를 이용한 시리즈 생성
sr = pd.Series(list_data)
print(sr)
print('\n')

idx = sr.index # sr의 인덱스
val = sr.values # sr의 데이터 값
print(idx)
print('\n')
print(val)

0    2019-01-02
1          3.14
2           ABC
3           100
4          True
dtype: object


RangeIndex(start=0, stop=5, step=1)


['2019-01-02' 3.14 'ABC' 100 True]

In [14]:
tup_data = ('영인', '2010-05-01', '여', True) # 튜플을 이용한 시리즈 생성
sr = pd.Series(tup_data, index=['이름','생년월일','성별','학생여부']) # 생성 시 인덱스 지정
print(sr)
print('\n')

print(sr[0], '\n') # 인덱스 번호로 인덱싱
print(sr['이름'], '\n') # 인덱스명으로 인덱싱
print(sr[[1,2]], '\n') # 여러 개의 인덱싱 -> 리스트로 묶어줌
print(sr[['생년월일','성별']], '\n')
print(sr[1:2], '\n') # 범위를 지정해 인덱싱
print(sr['생년월일':'성별'], '\n')

이름              영인
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object


영인

영인

생년월일    2010-05-01
성별               여
dtype: object

생년월일    2010-05-01
성별               여
dtype: object

생년월일    2010-05-01
dtype: object

생년월일    2010-05-01
성별               여
dtype: object

# 데이터프레임
데이터가 순차적으로 나열된 2차원 배열의 형태

In [16]:
dict_data = {'c0':[1,2,3],'c1':[4,5,6],'c2':[7,8,9],'c3':[10,11,12],'c4':[13,14,15]} # 딕셔너리를 활용해 생성
df = pd.DataFrame(dict_data)
print(type(df),'\n')
print(df)

<class 'pandas.core.frame.DataFrame'>

   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [19]:
df = pd.DataFrame([[15, '남', '덕영중'],[17, '여', '수리중']], # 리스트를 활용해 생성
                 index = ['준서', '예은'], # 인덱스명 지정
                 columns = ['나이','성별','학교']) # 컬럼명 지정
print(df, '\n')
print(df.index, '\n')
print(df.columns, '\n')

df.index = ['학생1','학생2'] # 인덱스명 변경
df.columns = ['연령', '남녀', '소속'] # 컬럼명 변경
print(df, '\n')
print(df.index, '\n')
print(df.columns)

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중

Index(['준서', '예은'], dtype='object')

Index(['나이', '성별', '학교'], dtype='object')

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중

Index(['학생1', '학생2'], dtype='object')

Index(['연령', '남녀', '소속'], dtype='object')

In [21]:
df = pd.DataFrame([[15, '남', '덕영중'],[17, '여', '수리중']], # 리스트를 활용해 생성
                 index = ['준서', '예은'], # 인덱스명 지정
                 columns = ['나이','성별','학교']) # 컬럼명 지정
print(df, '\n')

# rename(dictionary) : 딕셔너리에 포함된 '기존':'변경'대로 인덱스나 컬럼명 변경
df.rename(columns = {'나이':'연령', '성별':'남녀', '학교':'소속'},
         index = {'준서':'학생1'}, # 일부만 변경 가능
         inplace=True) # 기존 데이터를 변경한 데이터로 대체(default는 false로, 변경된 데이터를 반환하고 따로 저장하지 않음) 

print(df)

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중

     연령 남녀   소속
학생1  15  남  덕영중
예은   17  여  수리중

In [23]:
exam_data = {'수학':[90,80,70],'영어':[98, 89, 95],'음악':[85,95,100],'체육':[100,90,90]}
df1 = pd.DataFrame(exam_data, index=['서준','우현','인아'])
print(df1, '\n')

df2 = df1.drop('우현') # '우현'행 삭제
print(df2, '\n')

df3 = df1.drop('인아', axis=0) # '인아'행 삭제
print(df3, '\n')

df4 = df1.drop('수학', axis=1) # '수학'열 삭제
print(df4, '\n')

print(df1, '\n')
df1.drop('우현', inplace=True) # '우현'행 삭제한 결과를 기존 데이터프레임에 갱신
print(df1, '\n')

df5 = df1.copy() # 데이터프레임 복제
print(df5, '\n')

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90

    영어   음악   체육
서준  98   85  100
우현  89   95   90
인아  95  100   90

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90

    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90

In [31]:
exam_data = {'수학':[90,80,70],'영어':[98, 89, 95],'음악':[85,95,100],'체육':[100,90,90]}
df = pd.DataFrame(exam_data, index=['서준','우현','인아'])
print(df, '\n')

label1 = df.loc['서준'] # loc는 인덱스명으로, iloc는 인덱스번호로 행을 인덱싱한다.
position1 = df.iloc[0]
print(label1, type(label1),'\n')
print(position1, '\n')

label2 = df.loc[['서준','우현']]
position2 = df.iloc[[0,1]]
print(label2, type(label2), '\n')
print(position2, '\n')

label3 = df.loc['서준':'인아']
position3 = df.iloc[0:3]
print(label3, '\n')
print(position3, '\n')

position4 = df.iloc[0:3:2] # [시작번호:끝번호+1:간격]
position5 = df.iloc[::-1] # 간격이 -1이므로 모든 행에 대하여 역순이라는 의미
print(position4, '\n')
print(position5, '\n')

math1 = df['수학'] # 컬럼명을 통해 열을 인덱싱한다. 시리즈로 반환
math2 = df[['수학']] # 데이터프레임으로 반환
print(math1, type(math1),'\n')
print(math2, type(math2),'\n')

eng = df.영어 # 시리즈로 반환
print(eng, type(eng), '\n')

col = df[['영어','체육']]
print(col, type(col), '\n')

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64 <class 'pandas.core.series.Series'>

수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90 <class 'pandas.core.frame.DataFrame'>

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

    수학  영어   음악   체육
서준  90  98   85  100
인아  70  95  100   90

    수학  영어   음악   체육
인아  70  95  100   90
우현  80  89   95   90
서준  90  98   85  100

서준    90
우현    80
인아    70
Name: 수학, dtype: int64 <class 'pandas.core.series.Series'>

    수학
서준  90
우현  80
인아  70 <class 'pandas.core.frame.DataFrame'>

서준    98
우현    89
인아    95
Name: 영어, dtype: int64 <class 'pandas.core.series.Series'>

    영어   체육
서준  98  100
우현  89   90
인아  95   90 <class 'pandas.core.frame.DataFrame'>

In [35]:
exam_data = {'이름':['서준','우현','인아'],'수학':[90,80,70],'영어':[98, 89, 95],'음악':[85,95,100],'체육':[100,90,90]}
df = pd.DataFrame(exam_data)
df.set_index('이름', inplace=True) # df의 '이름' 컬럼을 인덱스로 지정하고 기존 데이터 갱신
print(df, '\n')

# loc와 iloc를 활용한 value 추출
a = df.loc['서준','음악'] # loc[행이름,열이름]
print(a, '\n')

b = df.iloc[0,2] # iloc[행번호,열번호]
print(b, '\n')

c = df.loc['서준',['음악','체육']]
print(c, '\n')

d = df.iloc[0,[2,3]]
print(d, '\n')

e = df.loc['서준','음악':'체육'] # 범위지정도 가능
print(e, '\n')

f = df.iloc[0,2:]
print(f, '\n')

g = df.loc[['서준','우현'],['음악','체육']]
print(g, '\n')

h = df.iloc[[0,1],[2,3]]
print(h, '\n')

i = df.loc['서준':'우현','음악':'체육']
print(i, '\n')

j = df.iloc[0:2,2:]
print(j, '\n')

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

85

85

음악     85
체육    100
Name: 서준, dtype: int64

음악     85
체육    100
Name: 서준, dtype: int64

음악     85
체육    100
Name: 서준, dtype: int64

음악     85
체육    100
Name: 서준, dtype: int64

    음악   체육
이름
서준  85  100
우현  95   90

    음악   체육
이름
서준  85  100
우현  95   90

    음악   체육
이름
서준  85  100
우현  95   90

    음악   체육
이름
서준  85  100
우현  95   90

In [41]:
exam_data = {'수학':[90,80,70],'영어':[98, 89, 95],'음악':[85,95,100],'체육':[100,90,90]}
df = pd.DataFrame(exam_data, index=['서준','우현','인아'])
print(df, '\n')

df['과학'] = 70 # 컬럼추가, 모든 값이 동일
df['국어'] = [80,70,60] # 컬럼 추가, 서로 다른 값
df.loc[3] = 0 # 행 추가, 모든 값이 동일
df.loc['동규'] = [90,80,70,60,50,40] # 행 추가, 값이 서로 다름
df.loc[5] = df.loc[3] # 행 추가, 기존의 특정 행과 같은 값으로
print(df, '\n')

df.iloc[0][-1] = 0 # 0번행의 마지막 열 값을 0으로 변경
print(df, '\n')

df.loc['서준']['국어'] = 100 # '서준' 행의 '국어' 열 값을 100으로 변경
print(df, '\n')

df.loc['서준','국어'] = 0 # '서준' 행의 '국어' 열 값을 0으로 변경
print(df, '\n')

df.loc['서준','체육':'국어'] = 100 # 특정 값들을 모두 100으로 변경
print(df, '\n')
       
df.loc['서준','체육':'국어'] = [10,20,30] # 특정 값들을 리스트의 각 요소로 변경
print(df, '\n')

df.loc['서준','체육':'국어'] = 40,50,60 # 특정 값들을 각 값으로 변경
print(df, '\n')

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

    수학  영어   음악   체육  과학  국어
서준  90  98   85  100  70  80
우현  80  89   95   90  70  70
인아  70  95  100   90  70  60
3    0   0    0    0   0   0
동규  90  80   70   60  50  40
5    0   0    0    0   0   0

    수학  영어   음악   체육  과학  국어
서준  90  98   85  100  70   0
우현  80  89   95   90  70  70
인아  70  95  100   90  70  60
3    0   0    0    0   0   0
동규  90  80   70   60  50  40
5    0   0    0    0   0   0

    수학  영어   음악   체육  과학   국어
서준  90  98   85  100  70  100
우현  80  89   95   90  70   70
인아  70  95  100   90  70   60
3    0   0    0    0   0    0
동규  90  80   70   60  50   40
5    0   0    0    0   0    0

    수학  영어   음악   체육  과학  국어
서준  90  98   85  100  70   0
우현  80  89   95   90  70  70
인아  70  95  100   90  70  60
3    0   0    0    0   0   0
동규  90  80   70   60  50  40
5    0   0    0    0   0   0

    수학  영어   음악   체육   과학   국어
서준  90  98   85  100  100  100
우현  80  89   95   90   70   70
인아  70  95  100   90   70   60
3    0   0    0    0    0    0
동규  90  80   70   60   50   40
5    0   0    0    0    0    0

    수학  영어   음악  체육  과학  국어
서준  90  98   85  10  20  30
우현  80  89   95  90  70  70
인아  70  95  100  90  70  60
3    0   0    0   0   0   0
동규  90  80   70  60  50  40
5    0   0    0   0   0   0

    수학  영어   음악  체육  과학  국어
서준  90  98   85  40  50  60
우현  80  89   95  90  70  70
인아  70  95  100  90  70  60
3    0   0    0   0   0   0
동규  90  80   70  60  50  40
5    0   0    0   0   0   0

In [43]:
exam_data = {'이름':['서준','우현','인아'],'수학':[90,80,70],'영어':[98, 89, 95],'음악':[85,95,100],'체육':[100,90,90]}
df = pd.DataFrame(exam_data)
print(df, '\n')

df = df.transpose() # 데이터프레임의 행과 열 전치(메소드)
print(df, '\n')

df = df.T # 데이터프레임의 행과 열 전치(클래스 속성)
print(df, '\n')

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

      0   1    2
이름   서준  우현   인아
수학   90  80   70
영어   98  89   95
음악   85  95  100
체육  100  90   90

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90